#version=RHEL8
ignoredisk --only-use=sda
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
# graphical
text
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8



# Network information
network  --bootproto=dhcp --device=enp0s3 --onboot=off --ipv6=auto --activate
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $6$IC5LYBjzYwgYTlWo$8JFTtMgBM5H63vc1wkqKE6sdsVVP06VdKiF.3N6gI.dSlX/mZW/1aaQChKrIJ3pLcZ.xRzq1Rh8ysJf6ZOSKf0
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --disabled="chronyd"
# System timezone
timezone Europe/Dublin --isUtc --nontp
user --name=vagrant --password=$6$/kenb8A9llWNvm4Y$g1oJ0pdBDd8lpvhOmsu1rWYQzU4OcteG7pBFQ6uhc3UGGmqj6vBgyQhv3YejQw.cGaL3NWRqkNU/8CoPTXgQg1 --iscrypted --gecos="vagrant"
# Disk partitioning information
part /boot --fstype="xfs" --ondisk=sda --size=512
part / --fstype="xfs" --ondisk=sda --size=15360
part /home --fstype="xfs" --ondisk=sda --size=10240
reboot

%packages --excludedocs
@^minimal-environment
-iwl*
-ivtv-firmware
-avahi*


%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post

sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/vagrant

%end